<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body style="text-align:center">
    <br><br>
    <br><br>
    <br><br>
    <h1>Counter</h1>
    <p><%=count%> times.</p>
    <form action='/count' method='post'>
        <input type='submit' value='+2'>
    </form>
    <br>
    <form action='/del' method='post'>
        <input type='submit' value='Reset'>
    </form>
</body>
</html>
